@charset "utf-8";
/* CSS Document */
html {
	overflow: hidden;
}
body {
	background-color: #2ecc71;
	margin: 0px;
}
a {
	text-decoration: none;
}
.wrapper {
	height: 100%;
}
.button-wrapper {
	text-align: center;
	padding: 2em;
	height: 30%;
}
.button-melding {
	background-color: #e74c3c;
}
.button-plannen {
	background-color: #e67e22;
}
.button-maps {
	background-color: #2980b9;
}
.button-text {
	color: white;
	font-family: 'Oxygen', sans-serif;
	text-transform: uppercase;
	font-size: 3em;
}