@charset "utf-8";
/* CSS Document */
html {
		
}
body {
	background-color: #2ecc71;
	margin: 0px;
	background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #e74c3c , #e67e22); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #e74c3c , #e67e22); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #e74c3c , #e67e22); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #e74c3c , #e67e22); /* Standard syntax (must be last) */
}
p {
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	margin: 5px 0px;
}

input[type="datetime-local"] {
	padding: 20px;
	width: 150px;
	height: 30px;
}
a {
	text-decoration: none!important;
}
input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
input[type=range][orient=diagonal]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 3em;
    height: 175px;
    padding: 0 5px;
}
.sub-header {
	color: black;
	margin-bottom: 20px;
	font-family: 'Josefin Sans', sans-serif;
	
}
.wrapper {
	height: 100%;
	text-align: center;
}
.button-wrapper {
	padding: 2em;
	height: 30%;
}
.button-melding {
	background-color: #e74c3c;
    background: -webkit-linear-gradient(-90deg, #e74c3c , #c0392b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #e74c3c , #c0392b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #e74c3c , #c0392b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #e74c3c , #c0392b); /* Standard syntax (must be last) */
}
.button-plannen {
	background-color: #e67e22;
}
.button-maps {
	background-color: #2980b9;
}
.button-text {
	color: white;
	font-family: 'Oxygen', sans-serif;
	text-transform: uppercase;
	font-size: 3em;
	position: relative;
}
.button-melding-text::after {
	position: absolute;
	font-family: 'bieb';
	content: 'h';
	text-transform: lowercase;
	font-size: 1em;
	width: 20%;
	top: -80%;
	left: 40%;
	right: 40%;
}
.button-plannen-text::after {
	position: absolute;
	font-family: 'bieb';
	content: 'l';
	text-transform: lowercase;
	font-size: 1em;
	width: 20%;
	top: -80%;
	
	left: 40%;
	right: 40%;
}
.button-maps-text::after {
	position: absolute;
	font-family: 'bieb';
	content: 'g';
	text-transform: lowercase;
	font-size: 1em;
	width: 20%;
	top: -80%;
	
	left: 40%;
	right: 40%;
}
.melding-header {
	font-family: 'Oxygen', sans-serif;
	font-size: 3em;
	color: white;
	text-transform: uppercase;
	background-color: rgba(193,193,193,0.3);
	padding: 20px;
}
textarea {
	padding: 1em;
	width: 80%;
	height: 80%;
	border-radius: 0px;
	color: #2980b9; /* For browsers that do not support gradients */    
    color: -webkit-linear-gradient(left, #2980b9 , #64A5D0); /* For Safari 5.1 to 6.0 */
    color: -o-linear-gradient(left, #2980b9 , #64A5D0); /* For Opera 11.1 to 12.0 */
    color: -moz-linear-gradient(left, #2980b9 , #64A5D0); /* For Firefox 3.6 to 15 */
    color: linear-gradient(left, #2980b9 , #64A5D0); /* Standard syntax (must be last) */
}
.wrapper-next {
	text-align: center;
}
.button-next {
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
	color: white;
	text-transform: uppercase;
	background-color: rgba(193,193,193,0.3);
	position: fixed;
	bottom: 1em;
	width: 50%;
	margin: auto;
	left: 0px;
	right: 0px;
}
.button-next-loading {
	-webkit-animation-name: verzenden;
    -webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	animation-name: verzenden;
    animation-duration: 4s;
	animation-iteration-count: infinite;
	color: rgba(255,255,255,0.80);
}
.verzenden-1 {
	display: none;
}
.verzenden-2 {
	display: none;
}
@-webkit-keyframes verzenden {
    0%   {background-color: rgba(59,59,59,0.30); width: 50%; color: rgba(255,255,255,0.80);}
    25%  {background-color: rgba(193,193,193,0.3); width: 75%; color: rgba(102,102,102,0.80);}
    50%  {background-color: rgba(59,59,59,0.30); width: 100%; color: rgba(255,255,255,0.80);}
    75%  {background-color: rgba(193,193,193,0.3); width: 75%; color: rgba(102,102,102,0.80);}
    100% {background-color: rgba(59,59,59,0.30); width: 50%; color: rgba(255,255,255,0.80);}
}
@keyframes verzenden {
   	0%   {background-color: rgba(59,59,59,0.30); width: 50%; color: rgba(255,255,255,0.80);}
    25%  {background-color: rgba(193,193,193,0.3); width: 75%; color: rgba(102,102,102,0.80);}
    50%  {background-color: rgba(59,59,59,0.30); width: 100%; color: rgba(255,255,255,0.80);}
    75%  {background-color: rgba(193,193,193,0.3); width: 75%; color: rgba(102,102,102,0.80);}
    100% {background-color: rgba(59,59,59,0.30); width: 50%; color: rgba(255,255,255,0.80);}
}
.icon-plannen {
	font-size: 3.7em;
	border-radius: 0%;
	background-color: rgba(193,193,193,0.3);
	padding: 23px 80px;
	color: #222;
	width: 100%;
	height: 100%;
}
/* range input */

.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  	width: 100%;
	height: 30px;
	border-top: 2px solid white;
	background: -webkit-linear-gradient(left, #27ae60 , #e67e22 , #e74c3c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #27ae60 , #e67e22 , #e74c3c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #27ae60 , #e67e22 , #e74c3c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #27ae60 , #e67e22 , #e74c3c); /* Standard syntax (must be last) */
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.value-slider {
	background-color: rgba(193,193,193,0.3);
	color: white;
	margin-top: 50px;
	padding: 12px;
}
.value-slider-p {
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
}
.value-slider i {
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
}
.maps-time-start {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px;
}
.maps-time-eind {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px;
}
.maps-opmerking {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px;
}
.maps-sterkte {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px;
}
.maps-wrapper {
	box-shadow: 0px 5px 10px rgba(34,34,34,0.3);
	background-color: rgba(193,193,193,0.3);
	padding: 10px;
}

